In [2]:
import sqlite3

print(sqlite3.version)
print(sqlite3.sqlite_version)

2.6.0
3.43.1

C:\Users\maxyo\AppData\Local\Temp\ipykernel_25176\3197632647.py:3: DeprecationWarning: version is deprecated and will be removed in Python 3.14
  print(sqlite3.version)

In [3]:
db=sqlite3.connect(':memory:')

In [4]:
cursor=db.cursor()

In [5]:
cursor.execute("""CREATE TABLE books(id INTEGER PRIMARY KEY,title TEXT,author TEXT,price TEXT,year TEXT)""")
db.commit()

In [6]:
cursor.execute("""INSERT INTO books values (1, 'Pro Powershell', 'Bryan Cafferky',35.00,2015)""")
cursor.execute("""INSERT INTO books values (2, 'Hitchhikers Guide to the Galaxy', 'Douglas Adams',12.00,199)""")
db.commit()

In [7]:
lstbooks=cursor.execute("""SELECT * FROM books;""").fetchall()
db.commit()
print(lstbooks)

[(1, 'Pro Powershell', 'Bryan Cafferky', '35.0', '2015'), (2, 'Hitchhikers Guide to the Galaxy', 'Douglas Adams', '12.0', '199')]

In [8]:
type(lstbooks)

list

In [9]:
import pandas as pd

dfbook=pd.read_sql_query("SELECT * FROM books",db)
dfbook.head()

   id                            title          author price  year
0   1                   Pro Powershell  Bryan Cafferky  35.0  2015
1   2  Hitchhikers Guide to the Galaxy   Douglas Adams  12.0   199

In [10]:
cursor=db.cursor()
cursor.execute("""DROP TABLE books""")
db.commit()

In [11]:
booksdf=cursor.execute("""SELECT * FROM books""").fetchall()
db.commit()

OperationalError: no such table: books

In [13]:
#"C:\Users\maxyo\Notebook\Data\chinook\chinook.db"

conn=sqlite3.connect('chinook.db')
cur=conn.cursor()

albums=cur.execute("""SELECT * FROM albums ORDER BY title LIMIT 3;""").fetchall()
print(albums)

OperationalError: no such table: albums

In [2]:
import psycopg2 as pg
import pandas.io.sql as psql

connection=pg.connect("dbname=Development user=Max password=Max")

df=pd.read_sql_query("SELECT * FROM person",con=connection)
df

OperationalError: connection to server at "localhost" (::1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?